---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import { getAllBlogs } from '../lib/api';

const blogs = getAllBlogs(['slug']);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<MainLayout>
			{blogs.map((blog) => {
				return (
					<div>
						{blog.slug}
					</div>
				)
			})}
		</MainLayout>
	</body>
</html>
