---
import MainLayout from '../layouts/MainLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} - Home`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainLayout>
      <div class="col-start-4 col-span-4 flex justify-center items-center">
        <div>
          <h2 class="text-4xl mb-7">Hello there, my name is...</h2>
          <h1 class="text-7xl mb-7 text-deep-carrot-orange font-bold">
            Chad Alen Adams
          </h1>
          <p class="text-2xl">
            I'm a Software Engineer who enjoys building websites and web-based
            tools that makes our lives easier.
          </p>
        </div>
      </div>

      <div class="col-start-8 col-span-5 flex items-end justify-center">
        <img src="profile-pic.jpg" alt="Profile picture" />
      </div>
    </MainLayout>
  </body>
</html>
