---
const today = new Date();
---

<div
  class="p-4 md:p-6 flex items-center justify-center bg-japanese-indigo text-deep-carrot-orange"
>
  <div class="text-center">
    <div class="flex justify-center gap-5 mb-2">
      <a
        href="https://www.linkedin.com/in/chadalen/"
        target="_blank"
        rel="noreferrer"
        class="hover:brightness-125"
      >
        <iconify-icon icon="mdi:linkedin" width="32" height="32"
        ></iconify-icon>
      </a>
      <a
        href="https://github.com/chadalen"
        target="_blank"
        rel="noreferrer"
        class="hover:brightness-125"
      >
        <iconify-icon icon="mdi:github" width="32" height="32"></iconify-icon>
      </a>
      <a
        href="https://dev.to/cadams"
        target="_blank"
        rel="noreferrer"
        class="hover:brightness-125"
      >
        <iconify-icon icon="material-symbols:logo-dev" width="32" height="32"
        ></iconify-icon>
      </a>
    </div>
    <div class="text-sm">Built and designed by Chad Adams</div>
    <div class="text-sm">Copyright &#169; {today.getFullYear()} Chad Adams</div>
  </div>
</div>
