<div class="grid grid-cols-12 p-6">
  <div class="col-start-4 col-span-2">
    <a href="/"
      ><strong class="text-5xl font-oleoscript text-deep-carrot-orange"
        >CA</strong
      >
    </a>
  </div>

  <div class="col-start-6 col-span-4">
    <ul class="flex justify-between gap-2 uppercase font-bold text-2xl">
      <li><a href="/about" class:list={[ { 'border-b-4 border-deep-carrot-orange': Astro.url.pathname === '/about' }]}>About</a></li>

      <li>
        <a href="/blog" class:list={[ { 'border-b-4 border-deep-carrot-orange': Astro.url.pathname === '/blog' }]}>Blogs</a>
      </li>

      <li>
        <a href="/projects" class:list={[ { 'border-b-4 border-deep-carrot-orange': Astro.url.pathname === '/projects' }]}> Projects</a>
      </li>

      <li>
        <a href="/contact" class:list={[ { 'border-b-4 border-deep-carrot-orange': Astro.url.pathname === '/contact' }]}> Contact</a>
      </li>
    </ul>
  </div>
</div>
