---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<div class="flex flex-col h-full">

	<Header />

	<div class="grid grid-cols-12 flex-grow">
		<slot />
	</div>

	<Footer />

</div>
